.item {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes scale-up-center {
 0% {
   -webkit-transform: scale(0.5);
           transform: scale(0.5);
 }
 100% {
   -webkit-transform: scale(1);
           transform: scale(1);
 }
}
@keyframes scale-up-center {
 0% {
   -webkit-transform: scale(0.5);
           transform: scale(0.5);
 }
 100% {
   -webkit-transform: scale(1);
           transform: scale(1);
 }
}
.navbar-edit .nav-edit .item:hover{
 
background-color: black;
}
.navbar-edit .nav-edit .item .nav-link:hover {
  color: #D4AF37;
}

.texto:hover .link{
    transform: scale(1.3);
    border-color:#D4AF37;
    border-style: groove;
}

.navbar-edit .nav-edit .item .nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px; /* Grosor de la línea */
  background-color: #D4AF37; /* Color de la línea */
  top: 10px; /* Posiciona la línea sobre el texto */
  left: 0;
  transform: scaleX(0); /* Inicialmente, la línea tiene una escala cero en el eje X */
  transform-origin: top left;
  transition: transform 0.3s ease; /* Agregar transición para un efecto suave */
}

.navbar-edit .nav-edit .item .nav-link:hover::before {
  transform: scaleX(1); /* Al pasar el ratón, la línea se expande completamente */
}
@keyframes escribiendo {
  from{width: 0;}
}
@keyframes ocultar-borde {
  to {
      border-right-color: transparent; 
  }
}
