.footer-edit {
    background-color: #5386e465;

    .contenedor-footer {
        .footer-section {
            a {
                color: black; 
                text-decoration: none;
            }
        }
    }

    .copy-edit {
        background-color: $color_principal;
    }
}
