
@media screen and (max-width: 1400px){

    .hero .Inicio{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2,1fr);
        grid-template-areas: 
        "servicio producto"
        "quienes-somos contacto";
    }
    .hero .Inicio .contenedor-imagen-texto .imagen{
        height: 35vh;
    }

}
@media screen and (max-width: 1085px){

    .navbar-edit .slogan{
        font-size: 1rem;
    }

}
@media screen and (max-width: 850px){

    .navbar-edit .slogan{
        font-size: .5rem;
    }

}

@media screen and (max-width: 480px){


    .hero .Inicio{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4,1fr);
        grid-template-areas: 
        "servicio "
        "producto"
        "quienes-somos" 
        "contacto";
    }
    .hero .Inicio .contenedor-imagen-texto .imagen{
        height: 30vh;
    }
    .hero{
        height: 140vh;
    }
    .navbar-edit .slogan{
        font-size: 1rem;
    }

}
@media screen and (max-width: 767px){
    .navbar-edit .slogan{
        font-size: 1rem;
    }

}
@media screen and (max-width: 700px){
    .tarjetas{
        flex-direction: column;
    }

}