* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.item {
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.navbar-edit .nav-edit .item:hover {
  background-color: black;
}

.navbar-edit .nav-edit .item .nav-link:hover {
  color: #D4AF37;
}

.texto:hover .link {
  transform: scale(1.3);
  border-color: #D4AF37;
  border-style: groove;
}

.navbar-edit .nav-edit .item .nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #D4AF37;
  top: 10%;
  left: 0;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}

.navbar-edit .nav-edit .item .nav-link:hover::before {
  transform: scaleX(1);
}

@keyframes escribiendo {
  from {
    width: 0;
  }
}
@keyframes ocultar-borde {
  to {
    border-right-color: transparent;
  }
}
.navbar-edit {
  background-color: #5386E4;
}
.navbar-edit .logo {
  max-width: 100px;
  border-style: solid;
  border-radius: 10px;
  background-color: #D4AF37;
}
.navbar-edit .slogan {
  font-size: 2rem;
  display: block;
  font-family: sans-serif;
  white-space: nowrap;
  border-right: 4px solid;
  width: 20ch;
  animation: escribiendo 2s steps(26) forwards, ocultar-borde 0.5s 2s forwards;
  overflow: hidden;
  color: white;
  font-family: "Black Ops One", sans-serif;
}
.navbar-edit .nav-edit {
  gap: 3px;
  justify-content: end;
  transition: 1s;
}
.navbar-edit .nav-edit .item {
  border-style: solid;
  border-radius: 10px;
  background-color: #D4AF37;
}
.navbar-edit .nav-edit .item .nav-link {
  position: relative;
  transition: 1s;
  text-decoration: none;
}

/*******************************INDEX***********************************************/
.hero {
  height: 90vh;
  background-color: beige;
  display: grid;
  place-items: center;
}
.hero .Inicio {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: "servicio producto quienes-somos contacto";
  gap: 1rem;
}
.hero .Inicio .servicio {
  grid-area: "servicio";
}
.hero .Inicio .producto {
  grid-area: "producto";
}
.hero .Inicio .quienes-somos {
  grid-area: "quienes-somos";
}
.hero .Inicio .contacto {
  grid-area: "contacto";
}
.hero .Inicio .contenedor-imagen-texto {
  position: relative;
  text-align: center;
  border-radius: 11px;
}
.hero .Inicio .contenedor-imagen-texto .imagen {
  width: 100%;
  height: 70vh;
  border-radius: 10px;
  border-style: solid;
}
.hero .Inicio .contenedor-imagen-texto .texto {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  position: absolute;
  width: 100%;
}
.hero .Inicio .contenedor-imagen-texto .texto .link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.671);
  border-radius: 10px;
  padding: 1rem;
  transition: 0.25s;
}

/**********************************SERVICIOS****************************************/
.edit-main {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 1rem;
}
.edit-main .edit-contenedor .edit-fila .edit-card {
  background-color: #5386E4;
  margin-top: 0.5rem;
  border-style: solid;
}
.edit-main .edit-contenedor .edit-fila .edit-card .edit-card2 {
  background-color: #5386E4;
  margin-top: 1rem;
}
.edit-main .edit-contenedor .edit-fila .edit-card .edit-card2 .fila .columna-texto {
  background-color: white;
}
.edit-main .edit-contenedor .edit-fila .edit-card .edit-card2 .fila .columna-texto .texto .edit-text a {
  text-decoration: none;
  color: black;
  border-style: solid;
  border-radius: 10px;
  border-color: #D4AF37;
}
.edit-main .edit-contenedor .edit-fila .edit-card .edit-card2 .fila .columna-texto .texto h5 {
  border-style: solid;
  border-radius: 10px;
  border-color: #D4AF37;
}
.edit-main .edit-contenedor .edit-fila .edit-card .edit-card2 .fila .columna-imagen .imagen2 {
  max-width: 100%;
  height: 100%;
}

/*********************************QUIENESSOMOS**************************************/
.section1 {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../imagenes/quienesjpg.jpg");
  background-size: cover;
  background-position: top;
}
.section1 .titulo-quienes {
  color: white;
  background-color: rgba(0, 0, 0, 0.988);
}
.section1 .texto-quienes {
  color: white;
  background-color: rgba(0, 0, 0, 0.582);
  width: 50%;
}

.tarjetas {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.tarjetas .edit-carrucel {
  flex: 1;
  margin-right: 1rem;
  margin-left: 1rem;
  border-style: solid;
  border-color: #5386E4;
}
.tarjetas .edit-carrucel .carrucel img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

/*********************************CONTACTO*****************************************/
.main-contacto {
  height: 100vh;
  background-image: url("../imagenes/componentes.jpg");
}
.main-contacto .contenedor .fila .fondo {
  background-color: rgba(0, 0, 0, 0.427);
}
.main-contacto .contenedor .fila .fondo .fondo2 .formulario .titulo-contacto {
  color: white;
}
.main-contacto .contenedor .fila .fondo .fondo2 .formulario .input-campo {
  position: relative;
}
.main-contacto .contenedor .fila .fondo .fondo2 .formulario .input-campo .caja-area {
  background-color: transparent;
  color: #fff;
}
.main-contacto .contenedor .fila .fondo .fondo2 .formulario .input-campo .textarea-titulo {
  color: white;
  padding-left: 10px;
}
.main-contacto .contenedor .fila .fondo .fondo2 .formulario .input-campo .caja-texto {
  background-color: transparent;
  color: #fff;
  outline: none;
}
.main-contacto .contenedor .fila .fondo .fondo2 .formulario .input-campo .dato-texto {
  position: absolute;
  top: 30%;
  left: 10px;
  transform: translateY(-30%);
  color: #fff;
  pointer-events: none;
  transition: 0.3s;
}
.main-contacto .contenedor .fila .fondo .fondo2 .formulario .input-campo input:focus ~ label,
.main-contacto .contenedor .fila .fondo .fondo2 .formulario .input-campo input:valid ~ label {
  top: -40%;
  left: 10px;
}

/******************************PRODUCTOS*********************************************/
.main-producto {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.752);
}
.main-producto .color-carta1 {
  background-color: #D4AF37;
}
.main-producto .color-carta2 {
  background-color: #0cec1b;
}
.main-producto .color-carta3 {
  background-color: #c800da;
}

@media screen and (max-width: 1400px) {
  .hero .Inicio {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "servicio producto" "quienes-somos contacto";
  }
  .hero .Inicio .contenedor-imagen-texto .imagen {
    height: 35vh;
  }
}
@media screen and (max-width: 1085px) {
  .navbar-edit .slogan {
    font-size: 1rem;
  }
}
@media screen and (max-width: 850px) {
  .navbar-edit .slogan {
    font-size: 0.5rem;
  }
}
@media screen and (max-width: 480px) {
  .hero .Inicio {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "servicio " "producto" "quienes-somos" "contacto";
  }
  .hero .Inicio .contenedor-imagen-texto .imagen {
    height: 30vh;
  }
  .hero {
    height: 140vh;
  }
  .navbar-edit .slogan {
    font-size: 1rem;
  }
}
@media screen and (max-width: 767px) {
  .navbar-edit .slogan {
    font-size: 1rem;
  }
}
@media screen and (max-width: 700px) {
  .tarjetas {
    flex-direction: column;
  }
}
.footer-edit {
  background-color: rgba(83, 134, 228, 0.3960784314);
}
.footer-edit .copy-edit {
  background-color: #5386E4;
}/*# sourceMappingURL=estilos.css.map */